*,html{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v13/qkBbXvYC6trAT7RbLtyU5rZPoAU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body{
    background-color: #ffffff;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}


/**
Start Header menu
 */
header{
    height: 3rem;
    background-color: white;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 99;

}

header nav{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
}

header #header-logo{
    position: relative;
    width: 15em;
    vertical-align: middle;

}


header nav ul li{
    display:  inline-block;
    margin: .5rem;
    flex: 3;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}

header .cart{
    display: flex;
    align-items: center;
    padding-right: 2rem;
    padding-left: 1rem;

}

header .cartcontainer img{
    vertical-align: middle;
    display: block;
    position: relative;
}

header .cart .bubble{
    position: absolute;
    top: 1.3rem;
    right: 1.4rem;
    min-width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: #000000;
    color: #fff;
    border-radius: 1.5em;
    text-align: center;
    transition: opacity .2s ease-in-out;
    font-size: 12px;
    font-weight: 800;
}


    /**
    End Header menu
     */


/*
wrap settings
 */
.wrapper{
    width: 100%;
    display: flex;
    padding: 1rem;
}

main{
    width: 100%;
    padding-top: 3rem;
}

img{
    vertical-align: middle;
    border-style: none;
}


.container{
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-top: 5rem;
    height: 30rem;
}

/** end wrap setting **/



/** start slider **/
.fluid{
    width: 100%;
    /*display: grid;*/
    margin: auto;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
}


.slider{
    width: 100%;
    height:30%;
    /*background-color: gold;*/
    /*display:grid;*/
    /*grid-gap: 0rem;*/
    /*grid-template-columns: repeat(auto-fill, minmax(33.33%, 2fr));*/
    /*grid-auto-rows: minmax(auto, auto);*/
    overflow: hidden;

}

.slider li i{
    position: absolute;
    padding: 1rem;
    font-size: 20px;
    color: #fff;
    opacity: 0.8;
}

.splide__slide:hover{
    opacity: 0.7;
}

.splide__arrow--next,
.splide__arrow--prev{
    color: white;
    font-size: 40px !Important;
    background-color: transparent!important;
    font-style: normal;
    font-weight: normal;

    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
}

.splide__arrow--next:before{
    content: "\f35b";
}

.splide__arrow--prev:before{
    content: "\f35b";
}

.splide__arrow--next svg,
.splide__arrow--prev svg{
    display: none;
}


/** end slider**/



.slider .splide__slide img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product .thumbs{
    width: 100%;
    display: grid;
    margin: auto;
    grid-gap: 0.5rem;
    /* grid-auto-rows: minmax(auto, auto); */
    grid-template-columns: repeat(auto-fill, minmax(4.5rem, 6fr));
    padding-top: 3rem;
}

.product .thumbs li{
    list-style-type: none;
}

.product .thumbs .item{
    width: 100%;
    height: auto;
}

.product .thumbs .item img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.product .thumbs .item:hover{
    opacity: 0.7;
}


.product{
    width: 100%;
    height: auto;
}

h1{
    font-weight: 100;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 1em;
    font-family: "Karla", sans-serif;
}

strong{
    font-size: 1.4em;
    margin-bottom: .5em;
    display: inline-block;
}

.product p{
    color: #999;
    margin-top: .5em;
    font-size: 10px;
    line-height: 1.3em;
}

.product-detail {
    width: 100%;
}

.product-detail p{
    font-weight: 500;
    padding-top: 2rem;
    margin-bottom: 2rem;
}


.product-detail .size{
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 1rem;
}

.product-detail .mysize{
    display: grid;
    width: 100%;
    text-transform: uppercase;
    justify-content: flex-end;
    color: #999;
    font-size: 10px;
}

.dropdown{
    width: 100%;
    background: none;
    border: 1px solid #e7e8e8;
    border-radius: 0;
    color: #000;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    text-transform: initial;
    padding: .75em 1em;
}

.dropdown img{
    width: 9px;
    float: right;
    padding-top: .5em;
    max-width: 100%;
    height: auto;
}

.menuWrap{
    position: relative;
    width: 100%;
}

.dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: 1px solid #e7e8e8;
    list-style: none;
    background-color: #fff;
    margin-top: 0.1rem;
    position: absolute;
    z-index: 2;
    display: block;
}


.dropdown-menu li{
    padding: 1rem 1rem 0.5rem;
    width: 100%;
    font-size: 14px;
    font-family: "Karla", sans-serif;
}

.dropdown-menu li:last-child{
    padding-bottom: 1rem;
}

.dropdown-menu li a{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: #000000;
}

.dropdown-menu li a b{
    margin: 0rem .2rem 0rem;
}

.dropdown-menu li span{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.dropdown-menu li .only-left{
    color: #7f7f7f;
}

.dropdown-menu li .notify{
    position: relative;
}

.dropdown-menu li .notify img{
    display: block;
    margin-right: .5rem;
}

.dropdown-menu li .out-of-stock{
    opacity: .2;
}

.dropdown-menu li a:not(.out):hover{
    color: #00a369;
}

.not-visible{
    display: none !important;
}

.add{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.addToCart{
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
    text-align: left;
    padding: 1rem;
    position: relative;
    justify-content: flex-start;
    border-right:10px solid #fff;
    font-weight: 600;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.addToCart:hover{
    background-color: #007a4a;
}

.favorite{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #edeeee;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.favorite:hover{
    background-color: #c5c6c6;
}

.favorite img{
    height: auto;
    width: 100%;
}

.push{
    margin-left: auto;
}

hr {
    width: 100%;
    border-color: #e7e8e8;
    opacity: 0.1;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.accor{
    text-transform: uppercase;
    font-weight: 600;
}


.accor p{
    display: block;
    color: #999;
    font-size: 14px;
    line-height: 1.5em;
    text-transform: capitalize;
}

.accor img{
    width: 9px;
    float: right;
    padding-top: .5em;
    max-width: 100%;
    height: auto;
}


.link{
    color: #00a369;
    text-decoration: none;
}

.link:hover{
    border-bottom:1px solid #00a369;
}

.info{
    display: none;
}

.margin{
    margin-bottom: 3rem;
}

.open{
    display: block;
}


/**
added to cart
 */
.added{
    background-color:#00a369!important;
}

.scale{
    animation: scaling .5s alternate;
    animation-iteration-count: 1;
}

@keyframes scaling {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
    }
}


/**
lightbox
 */

.lightbox{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.lightbox .center{
    width: auto;
    height: 100vh;
    top:0;
    align-self: center;
    justify-self: center;
}
.lightbox .center .closeBtn{
    position: absolute;
    right: 5%;
    padding-top: 3%;
    color: #ffffff;
    font-size: 1.4rem;
    height: auto;
    width: auto;
}

.lightbox .center .imgHolder{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.lightbox .imgHolder img{
    width: auto;
    height: 100%;
}

/** remove select color **/
button:focus,ul li:focus{
    outline: none;
}

/**
breaks
 */

@media only screen and (max-width: 1185px) {
    .container{
        width: 90%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding-top: 5rem;
        height: 30rem;
    }


    .product-detail{
        padding-top: 2rem;
    }


    .product .thumbs {
        grid-gap: .5rem;
        grid-template-columns: repeat(auto-fill, minmax(6rem, 6fr));
        padding-top: 3rem;
    }

    header nav{
        display: none;
    }

}


@media only screen and (max-width: 600px) {

    .slider{
        height: 40%;
    }
    .container{
        padding-top: 2rem;
    }


    .product .thumbs {
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
        padding-top: 3rem;
    }

    .splide__arrow{
        display: none!important;
    }


    .lightbox .center .closeBtn{
        position: absolute;
        right: 22%;
        padding-top: 3%;
        color: #ffffff;
        font-size: 1.4rem;
    }
    /*.lightbox .imgHolder img{*/
        /*width: 100%;*/
        /*height: auto;*/
    /*}*/
}


